/* ------------------- base.html ------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;

    background-image: url('images/NewYorkStreetBW.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

div.page {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

div.page-element {
    margin: 0px;
    padding: 0px;

    width: 100%;
}

div.page-element.nav-bar {
    margin-top: 50px;

    flex-shrink: 0;
}

div.page-element.content {
    margin-top: 100px;

    overflow-y: auto;
}

ul.nav-bar {
    top: 0;

    list-style-type: none;

    margin: 0px;
    padding: 0px;

    overflow: hidden;
}

li.nav-bar {
    display: flex;

    align-items: center;
    justify-content: center;

    float: left;

    margin: 0px;
    padding: 0px;

    width: 20%;
}

li.nav-bar:first-child {
    margin-left: 10%;
}

li.nav-bar:last-child {
    margin-right: 10%;
}

a.nav-bar {
    display: block;

    padding: 0px;
    margin: 0px;

    text-decoration: none;
}

p.nav-bar {
    display: block;

    text-align: center;

    padding: 4px 10px;
    margin: 0px;

    color: rgb(255, 0, 0);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0);

    font-family: "Courier New";
    font-size: 25px;
}

p.nav-bar:hover {
    border-color: rgb(255, 0, 0);
}

p.nav-bar:active {
    color: rgb(0, 0, 0);

    border-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

/* ------------------- main.html ------------------- */

div.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

div.content-part {
    display: flex;

    flex-direction: column;

    margin-bottom: 100px;
}

div.welcome {
    display: flex;

    align-items: center;
    justify-content: center;
}

p.content-part {
    margin: 0px;
    padding: 0px;

    text-align: center;

    color: FFD788;

    font-family: "Playfair Display";
    font-size: 20px;
}

p.content-part.welcome {
    display: inline;

    font-size: 35px;

    text-decoration: underline;
    text-decoration-style: wavy;
}

p.content-part.welcome-fiii {
    display: inline;

    margin-left: 20px;
    margin-right: 20px;

    font-family: "Rakkas";
    font-size: 100px;
}

p.content-part.title {
    margin-bottom: 10px;

    font-size: 30px;
}

p.content-part.text {
    font-size: 20px;
}

a.content-part {
    margin: 0px;
    padding: 0px;

    text-align: center;

    text-decoration: underline;

    color: FFD788;

    font-family: "Playfair Display";
    font-size: 20px;
}

p.test {
    margin-top: 1000px;
}

/* ------------------- catalog.html ------------------- */

div.catalog {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}

a.product {
    float: left;

    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: 4%;

    width: 25.33%;

    text-decoration: none;
}

div.product {
    padding: 10%;

    width: 100%;
}

div.product:hover {
    background-color: rgb(255, 255, 255, 0.25);
}

img.product {
    width: 100%;
    height: auto;
}

p.product-name {
    margin: 0px;
    padding: 0px;
    margin-top: 15px;

    text-align: center;

    color: FFD788;

    font-family: "Rakkas";
    font-size: 20px;
}

p.product-style {
    margin: 0px;
    padding: 0px;
    margin-top: 1px;

    text-align: center;

    color: FFD788;

    font-family: "Rakkas";
    font-size: 13;
}

p.product-price {
    margin: 0px;
    padding: 0px;
    margin-top: 8px;

    text-align: center;

    color: rgb(0, 0, 0);

    font-family: "Rakkas";
    font-size: 17px;
}

/* ------------------- product.html ------------------- */

div.product-detail {
    display: flex;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;

    justify-content: center;
    align-items: : center;
}

div.product-detail-image {
    display: flex;

    position: relative;

    flex-wrap: nowrap;
    align-items: center;

    flex-grow: 1;
    flex-basis: 1px;
}

img.product-detail-image {
    width: 150%;
    height: auto;

    margin: 0%;

    object-fit: cover;
}

div.product-detail-image-text {
    display: flex;

    flex-wrap: nowrap;
    align-items: center;

    position: absolute;

    overflow: hidden;

    left: 150%;

    height: 100%;
}

p.product-detail-image-text {
    white-space: nowrap;

    padding: 0;
    margin: 0;

    writing-mode: tb-rl;

    text-align: center;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-family: "Rakkas";
    font-size: 1vw;
}

div.product-detail-info {
    display: flex;

    justify-content: center;
    align-items: : center;
    flex-direction: column;

    flex-grow: 1;
    flex-basis: 1px;
}

p.product-detail-info {
    position: relative;

    width: 100%;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
}

p.product-detail-info-name {
    font-size: 3.5vw;
}

p.product-detail-info-style {
    font-size: 3.15vw;
}

p.product-detail-info-price {
    font-size: 2.8vw;
}

div.product-detail-info-style-selection {
    display: flex;

    flex-wrap: wrap;

    position: relative;

    width: 100%;

    margin-top: -2%;
    margin-bottom: 2%;
}

a.product-detail-info-style-selection {
    width: 33.33%;

    text-decoration: none;
}

p.product-detail-info-style-selection {
    width: 100%;

    margin: 0;
    padding: 0;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 1vw;
}

p.product-detail-info-style-selection-selected {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

a.product-detail-info {
    position: relative;

    width: 100%;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;
    text-decoration: none;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
}

a.product-detail-info-buy {
    margin-top: 4%;

    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(0, 0, 0);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.5);

    font-family: "Rakkas";
    font-size: 3.15vw;
}

a.product-detail-info-buy:hover {
    border-color: rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);
}

/* ------------------- userLogin.html ------------------- */

div.login {
    display: flex;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.login-input {
    display: flex;
    
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.login-input {
    display: flex;

    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.login-input {
    /* width: 100%; */
}
