/* ------------------- base.html ------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;

    background-image: url('images/NewYorkStreetBW.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

div.page {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

div.page-element {
    margin: 0px;
    padding: 0px;

    width: 100%;
}

div.page-element-nav-bar {
    margin-top: 50px;
    margin-bottom: 50px;

    flex-shrink: 0;
}

div.page-element-content {
    /* margin-top: 100px; */

    overflow-y: auto;
}

ul.nav-bar {
    top: 0;

    list-style-type: none;

    margin: 0px;
    padding: 0px;

    overflow: hidden;
}

li.nav-bar {
    display: flex;

    align-items: center;
    justify-content: center;

    float: left;

    margin: 0px;
    padding: 0px;

    width: 20%;
}

li.nav-bar:first-child {
    margin-left: 10%;
}

li.nav-bar:last-child {
    margin-right: 10%;
}

a.nav-bar {
    display: block;

    padding: 0px;
    margin: 0px;

    text-decoration: none;
}

p.nav-bar {
    display: block;

    text-align: center;

    padding: 4px 10px;
    margin: 0px;

    color: rgb(255, 0, 0);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0);

    font-family: "Courier New";
    font-size: 25px;
}

p.nav-bar:hover {
    border-color: rgb(255, 0, 0);
}

p.nav-bar:active {
    color: rgb(0, 0, 0);

    border-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

/* ------------------- main.html ------------------- */

div.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

div.content-part {
    display: flex;

    flex-direction: column;

    margin-bottom: 100px;
}

div.welcome {
    display: flex;

    align-items: center;
    justify-content: center;
}

p.content-part {
    margin: 0px;
    padding: 0px;

    text-align: center;

    color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 20px;
}

p.content-part.welcome {
    display: inline;

    font-size: 30px;

    text-decoration: overline underline;
    text-decoration-style: dashed;
}

p.content-part.welcome-fiii {
    display: inline;

    margin-left: 20px;
    margin-right: 20px;

    font-family: "Rakkas";
    font-size: 100px;
}

p.content-part.title {
    margin-bottom: 10px;

    font-size: 25px;
}

p.content-part.text {
    font-size: 15px;
}

a.content-part {
    margin: 0px;
    padding: 0px;

    text-align: center;

    text-decoration: underline;

    color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 15px;
}

p.test {
    margin-top: 1000px;
}

/* ------------------- catalog.html ------------------- */

div.catalog {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
}

a.product {
    float: left;

    margin-bottom: 50px;
    margin-left: 4%;
    margin-right: 4%;

    width: 25.33%;

    text-decoration: none;
}

div.product {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 10%;

    width: 100%;
}

div.product:hover {
    background-color: rgb(255, 255, 255, 0.25);
}

img.product {
    width: 100%;
    height: auto;
}

p.product-name {
    margin-bottom: 0px;
    margin-top: 15px;
    padding-left: 10%;
    padding-right: 10%;

    width: 100%;

    text-align: center;

    /* color: FFD788; */
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); */

    font-family: "Rakkas";
    font-size: 20px;
}

p.product-style {
    margin: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0.4em;

    text-align: center;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-family: "Space mono";
    font-size: 10;
}

p.product-price {
    margin: 0px;
    padding: 0px;
    margin-top: 8px;

    text-align: center;

    color: rgb(0, 0, 0);

    font-family: "Rakkas";
    font-size: 22px;
}

/* ------------------- product.html ------------------- */

div.product-detail {
    display: flex;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;

    justify-content: center;
    align-items: : center;
}

div.product-detail-image-container {
    display: flex;

    position: relative;

    flex-wrap: nowrap;
    align-items: center;

    flex-grow: 1;
    flex-basis: 1px;
}

div.product-detail-image {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

div.product-detail-image-slideshow {

}

img.product-detail-image {
    width: 150%;

    margin: 0%;

    object-fit: cover;
}

img.product-detail-image-hidden {
    display: none
}

div.product-detail-image-selection {
    display: flex;

    width: 150%;

    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

label.product-detail-image-selection {
    position: relative;

    flex-grow: 1;
    flex-basis: 1px;
}

input.product-detail-image-selection {
    width: 0px;
    height: 1vh;

    padding: 0px;
    margin: 0px;
}

span.product-detail-image-selection {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1vh;

    cursor: pointer;

    border: none;

    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 1vw;
}

input.product-detail-image-selection:checked ~ span.product-detail-image-selection {
    background-color: rgb(255, 255, 255, 0);

    cursor: default;
}

div.product-detail-image-text {
    display: flex;

    flex-wrap: nowrap;
    align-items: center;

    position: absolute;

    overflow: hidden;

    left: 150%;

    height: 100%;
}

p.product-detail-image-text {
    white-space: nowrap;

    padding: 0;
    margin: 0;

    writing-mode: tb-rl;

    text-align: center;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-family: "Rakkas";
    font-size: 1vw;
}

div.product-detail-info {
    display: flex;

    justify-content: center;
    align-items: : center;
    flex-direction: column;

    flex-grow: 1;
    flex-basis: 1px;
}

p.product-detail-info {
    position: relative;

    width: 100%;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
}

p.product-detail-info-name {
    font-size: 3.5vw;
}

p.product-detail-info-style {
    font-size: 3.15vw;
}

p.product-detail-info-price {
    font-size: 2.8vw;
}

div.product-detail-info-style-selection {
    display: flex;

    flex-wrap: wrap;

    position: relative;

    width: 100%;

    margin-top: -2%;
    margin-bottom: 2%;
}

a.product-detail-info-style-selection {
    width: 33.33%;

    text-decoration: none;
}

p.product-detail-info-style-selection {
    width: 100%;

    margin: 0;
    padding: 0;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 1vw;
}

p.product-detail-info-style-selection-selected {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

a.product-detail-info {
    position: relative;

    width: 100%;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;
    text-decoration: none;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
}

a.product-detail-info-buy {
    margin-top: 4%;

    border-width: 0.1em;
    border-style: solid;
    border-color: rgb(0, 0, 0);

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.5);

    font-family: "Rakkas";
    font-size: 3.15vw;
}

a.product-detail-info-buy:hover {
    border-color: rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);
}

/* ------------------- buy.html ------------------- */

div.buy-product-detail {
    display: flex;

    height: auto;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;

    justify-content: flex-start;
    align-items: stretch;
}

img.buy-product-detail-image {
    width: 15vw;
    height: 15vw;

    margin-left: 5vw;

    object-fit: cover;
}

div.buy-product-detail-info-box {
    display: flex;

    width: 40vw;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0);
}


div.buy-product-detail-info {
    display: flex;

    width: 50%;
    height: 15vw;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

p.buy-product-detail-info {
    position: relative;

    margin: 0;
    margin-left: 10%;

    text-align: center;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    font-family: "Space mono";
    font-size: 15px;
}

div.buy-product-detail-special {
    display: flex;

    width: 50%;
    height: 15vw;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

a.buy-product-detail-special {
    position: relative;

    margin: 0;
    margin-right: 10%;

    padding: 0;
    padding-left: 5%;
    padding-right: 5%;

    text-align: center;

    text-decoration: none;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-family: "Space mono";
    font-size: 20px;
}

a.buy-product-detail-special:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

div.buy-detail {
    display: flex;

    height: auto;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

form.buy-detail {
    display: flex;

    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.buy-detail-input {
    display: flex;

    width: 100%;

    margin-bottom: 20px;
    margin-top: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.buy-detail-input {
    position: relative;

    margin: 0;
    margin-bottom: 1vw;

    text-align: center;

    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */

    font-family: "Rakkas";
    font-size: 23px;
}

input.buy-detail-input {
    text-align: center;

    width: 50%;

    padding: 0.5em;

    outline-offset: 0px;

    border-style: solid;
    border-width: 0.13em;
    border-color: rgb(0, 0, 0);
    border-image: none;

    outline: none;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255, 0.1);

    font-family: "Space mono";
    font-size: 15px;
}

input.buy-detail-input:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

input.buy-detail-input:focus {
    border-color: rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);
}

input.buy-detail-input:-webkit-autofill,
input.buy-detail-input:-webkit-autofill:hover,
input.buy-detail-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;

    border-color: rgb(255, 255, 255);

    background-color: rgb(255, 255, 255);

}

input.buy-detail-submit {
    /* width: 25%; */

    margin-top: 3vw;
    margin-bottom: 1vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;

    border: none;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-family: "Space mono";
    font-size: 2.5vw;
}

input.buy-detail-submit:hover {
    cursor: pointer;

    text-decoration: underline;
}

/* ------------------- pay.html ------------------- */
