{% extends "shop/base.html" %}

{% block content %}
    <div class="main">
        <div class="content-part">
            <div class="welcome">
                <p class="content-part welcome">Welocme to</p>
                <p class="content-part welcome-fiii">Fiii</p>
                <p class="content-part welcome">online store</p>
            </div>
        </div>

        {% for mainInfo in mainInfos %}
            <div class="content-part">
                <p class="content-part title">[ {{ mainInfo.title | safe }} ]<br /></p>
                <p class="content-part text">{{ mainInfo.text | safe }}</p>
            </div>
        {% endfor %}

        <p class="test">Test</p>
    </div>
{% endblock %}
