{% extends "shop/base.html" %}

{% block content %}
    <div class="main">
        <div class="content-part">
            <div class="welcome">
                <p class="content-part welcome">Welocme to</p>
                <p class="content-part welcome-fiii">Fiii</p>
                <p class="content-part welcome">online store</p>
            </div>
        </div>

        <div class="content-part">
            <p class="content-part title">* New products *<br /></p>
            <p class="content-part text">Check out new products here</p>
        </div>

        <p class="test">Test</p>
    </div>
{% endblock %}
