{% extends "shop/base.html" %}

{% block content %}
    <div class="main">
        <div class="content-part">
            <div class="welcome">
                <p class="content-part welcome">Welocme to</p>
                <p class="content-part welcome-fiii">Fiii</p>
                <p class="content-part welcome">online store</p>
            </div>
        </div>

        <div class="content-part">
            <p class="content-part title">* New products *<br /></p>
            <p class="content-part text">Check out new products <a class="content-part" href="{% url 'shop:catalog' %}">HERE</a></p>
        </div>

        <div class="content-part">
            <p class="content-part title">* Debug *<br /></p>
            <p class="content-part text">{{ debug }}</p>
        </div>

        <p class="test">Test</p>
    </div>
{% endblock %}
